<h1>Pages#home</h1>
<a href="/pages/test">Test</a>

<script type="text/javascript">
  var card = document.querySelector('.card');
card.addEventListener( 'click', function() {
  card.classList.toggle('is-flipped');
});
</script>
