<h1>Pages#home</h1>
<a href="/pages/test">Test</a>
 <%= javascript_pack_tag 'hello_react' %>
 <script type="text/javascript">
  // var card = document.querySelector('.uno_card');
  $(document).ready(function(){
    const card = $(".uno_card")[0];
    console.log(card);
  })

   //card.classList.toggle('is-flipped');
 </script>
