$color: red;
$card-width: 200px;
$card-height: $card-width*1.5;
$border-width: $card-width/20;
$oval-rotation: 35deg;
$border-color: #fff;

body{
  background-color: #00f;
  display: inline-flex;
}

.uno_card{
  position: relative;
  z-index: 0;
  width:$card-width;
  height:$card-height;
  margin-left: 50px;
  background-color: #fff;
  border: $border-width solid $border-color;
  border-radius: 25px;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.uno_card-face{
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
}

$value-size: $card-width/4;

.card-value-container{
  position: relative;
  color: #fff;
  font-weight: bold;
  width:$value-size;
  height:$value-size;
  position: absolute;
  z-index: 1;
}
.card-value-text{
  position: absolute;
  font-size: 50px;
  width:100%;
  text-align: center;
}
.card-value-left{
  top: $border-width;
  left: $border-width;
}
.card-value-mid{
  width:$value-size*1.25;
  height:$value-size*1.25;
  font-size: 70px;
  top: calc(50% - #{$value-size});
  left: calc(50% - #{$value-size/2});
}
.card-value-right{
  left: calc(100% - #{$value-size+$border-width});
  top: calc(100% - #{$value-size+$border-width});
}
$oval-width:$card-width/1.75;
$oval-height:$card-height - ($border-width*2);

.card-oval{
  position: absolute;
  z-index: 3;
  left:20%;
  bottom: 0px;
  width:$oval-width;
  height:$oval-height;
  border-radius: 100%;
  border: $border-width/2 solid $border-color;
  transform: rotate($oval-rotation);
}
.hoverable:hover{
  box-shadow: 0px 0px 40px 10px #fe4;
  transform: translate(0, -5px);
  border-radius: 15px;
}
