body { font-family: sans-serif; }

$color: red;
$card-width: 200px;
$card-height: $card-width*1.5;
$border-width: $card-width/20;
$oval-rotation: 35deg;
$border-color: #fff;
.tcard {
  width: 200px;
  height: 300px;
  margin: 40px 0;
  perspective: 600px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  border: $border-width solid $border-color;
  position: relative;
  border-radius: 25px;
}
.card-values{

}

.tcard.is-flipped {
  transform: rotateY(180deg);
}

.tcard__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
}

.tcard__face--front {

}

.tcard__face--back {
  background: #000;
  transform: rotateY(180deg);
}
